<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nado.rlzy.db.mapper.AttentionMapper">
  <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.Attention">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="useringId" jdbcType="INTEGER" property="useringid" />
    <result column="useredId" jdbcType="INTEGER" property="useredid" />
    <result column="objectId" jdbcType="INTEGER" property="objectid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <update id="updateAttention" parameterType="com.nado.rlzy.db.pojo.Attention">
    update attention
    <set>
    status = 2
     <where>
     <if test="null != useringid">
       useringId = #{useringid}
     </if>
     <if test="null != useredid">
      and useredId = #{useredid}
     </if>
       and status = 1
     </where>

    </set>
  </update>
</mapper>