<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.HrAcctMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrAcct">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="UserId" property="userid" jdbcType="INTEGER"/>
        <result column="AcctBalance" property="acctbalance" jdbcType="DECIMAL"/>
        <result column="IceBalance" property="icebalance" jdbcType="DECIMAL"/>
        <result column="DeleteFlag" property="deleteflag" jdbcType="TINYINT"/>
        <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, UserId, AcctBalance, IceBalance, DeleteFlag, modifyTime, CreateTime
  </sql>


    <update id="directAdmission">
        update hr_acct
        <set>
            AcctBalance = (AcctBalance +
            <if test="null != money">
                #{money}
            </if>
            )
            <where>
                DeleteFlag = 0
                <if test="null != userId">
                    and UserId = #{userId}
                </if>
            </where>
        </set>
    </update>
    <update id="returnMoney">
        update hr_acct
        <set>
            <if test="null != money">
                AcctBalance = AcctBalance + #{money}
            </if>
            where DeleteFlag = 0
            <if test="null != userId">
                and UserId = #{userId}
            </if>
        </set>
    </update>
    <update id="reimbursement">
        update hr_acct
        <set>
            <if test="null != rebateMoney">
                AcctBalance = AcctBalance + #{rebateMoney},
            </if>
            <if test="null != rebateMoney">
                IceBalance = IceBalance - #{rebateMoney}
            </if>
        </set>
        <where>
            <if test="null != userId">
                UserId = #{userId}
            </if>
        </where>
    </update>
    <update id="reimbursementAddNum">
        update hr_acct
        <set>
            <if test="null != rebateMoney">
                AcctBalance = AcctBalance - #{rebateMoney},
            </if>
            <if test="null != rebateMoney">
                IceBalance = IceBalance + #{rebateMoney}
            </if>
        </set>
        <where>
            <if test="null != userId">
                UserId = #{userId}
            </if>
        </where>
    </update>
    <update id="rebateUser">
        update hr_acct
        <set>
            <if test="null != userMoney">
                AcctBalance = AcctBalance + #{userMoney}
            </if>
        </set>
        <where>
            <if test="null != userId">
                UserId = #{userId}
            </if>
        </where>
    </update>
    <update id="rebateBusiness">
    update hr_acct set IceBalance = IceBalance - #{businessMoney}, already_consumed = already_consumed + #{businessMoney} where UserId = #{userId}

    </update>
    <select id="selectAcct" resultType="_int">
         select AcctBalance from hr_acct
          <where>
          <if test="null != userId">
          UserId = #{userId}
          </if>
          </where>
    </select>
    <select id="selectAcctIdByUserId" resultMap="BaseResultMap">
    select Id, AcctBalance, IceBalance from hr_acct where UserId = #{userId}
    </select>

</mapper>