<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.HrGroupMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrGroup">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="GroupName" property="groupname" jdbcType="VARCHAR"/>
        <result column="GroupInfo" property="groupinfo" jdbcType="VARCHAR"/>
        <result column="legalPerson" property="legalperson" jdbcType="VARCHAR"/>
        <result column="socialCreditCode" property="socialcreditcode" jdbcType="VARCHAR"/>
        <result column="registrationPlace" property="registrationplace" jdbcType="VARCHAR"/>
        <result column="GroupAddress" property="groupaddress" jdbcType="VARCHAR"/>


        <result column="interview_address" property="interviewAddress" jdbcType="VARCHAR"/>

        <result column="IdentifyTime" property="identifytime" jdbcType="TIMESTAMP"/>
        <result column="CertificationUnitId" property="certificationunitid" jdbcType="INTEGER"/>
        <result column="BusinessLicense" property="businesslicense" jdbcType="VARCHAR"/>
        <result column="HelpProve" property="helpprove" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="INTEGER"/>
        <result column="GroupTypeId" property="grouptypeid" jdbcType="INTEGER"/>
        <result column="CertifierId" property="certifierid" jdbcType="INTEGER"/>
        <result column="foulNum" property="foulnum" jdbcType="INTEGER"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="DeleteFlag" property="deleteflag" jdbcType="TINYINT"/>
        <result column="Pid" property="pid" jdbcType="INTEGER"/>
        <result column="person_num" property="personNum" jdbcType="VARCHAR"/>
        <result column="co_policy" property="coPolicy" jdbcType="VARCHAR"/>
        <collection property="hriefchapter" resultMap="rebaterecord" ofType="com.nado.rlzy.db.pojo.HrRebaterecord"/>

    </resultMap>

    <resultMap id="rebaterecord" type="com.nado.rlzy.db.pojo.HrBriefchapter">
        <result column="Id" property="brId" jdbcType="INTEGER"/>


    </resultMap>

    <select id="coHomePage" resultMap="BaseResultMap">
        select g.GroupName,
        g.co_policy,
        g.person_num,
        g.GroupAddress,
        g.GroupInfo,
        b.id as brId,
        g.id
        from hr_group g
        left join hr_briefchapter b on g.CertifierId = b.userId
        <where>
            <if test="null != groupId">
                g.Id = #{groupId}
            </if>
        </where>
    </select>
    <select id="selectGroupName" resultType="hrGroup">
        select g.Id, g.GroupName
        from hr_group g
        left join hr_user u on g.CertifierId = u.id and u.DeleteFlag = 0
        <where>
            g.DeleteFlag = 0
            <if test="null != type">
                and u.type = 6
            </if>
            <if test="null != userId">
                and u.id = 8
            </if>
        </where>
    </select>
</mapper>