<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.HrGroupMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrGroup">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="GroupName" property="groupname" jdbcType="VARCHAR"/>
        <result column="GroupInfo" property="groupinfo" jdbcType="VARCHAR"/>
        <result column="legalPerson" property="legalperson" jdbcType="VARCHAR"/>
        <result column="socialCreditCode" property="socialcreditcode" jdbcType="VARCHAR"/>
        <result column="registrationPlace" property="registrationplace" jdbcType="VARCHAR"/>
        <result column="GroupAddress" property="groupaddress" jdbcType="VARCHAR"/>
        <result column="interview_address" property="interviewAddress" jdbcType="VARCHAR"/>
        <result column="IdentifyTime" property="identifytime" jdbcType="TIMESTAMP"/>
        <result column="CertificationUnitId" property="certificationunitid" jdbcType="INTEGER"/>
        <result column="BusinessLicense" property="businesslicense" jdbcType="VARCHAR"/>
        <result column="HelpProve" property="helpprove" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="INTEGER"/>
        <result column="GroupTypeId" property="grouptypeid" jdbcType="INTEGER"/>
        <result column="CertifierId" property="certifierid" jdbcType="INTEGER"/>
        <result column="foulNum" property="foulnum" jdbcType="INTEGER"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="DeleteFlag" property="deleteflag" jdbcType="TINYINT"/>
        <result column="Pid" property="pid" jdbcType="INTEGER"/>
        <result column="person_num" property="personNum" jdbcType="VARCHAR"/>
        <result column="co_policy" property="coPolicy" jdbcType="VARCHAR"/>
        <result column="UserName" property="userName" jdbcType="VARCHAR"/>
        <result column="violation_flag" property="violationFlag" jdbcType="VARCHAR"/>
        <!--        <collection property="hriefchapter" resultMap="rebaterecord" ofType="com.nado.rlzy.db.pojo.HrRebaterecord"/>-->
        <collection property="deliveryrecords" resultMap="deliveryrecordsMap"
                    ofType="com.nado.rlzy.db.pojo.HrSignupDeliveryrecord"/>
        <collection property="labels" resultMap="label" ofType="com.nado.rlzy.db.pojo.HrLabel"/>
        <collection property="carousels" resultMap="carouselResultMap" ofType="com.nado.rlzy.db.pojo.HrLunbo"/>
    </resultMap>
    <resultMap id="carouselResultMap" type="com.nado.rlzy.db.pojo.HrLunbo">
        <result column="groupId" property="groupid"/>
        <result column="url" property="url"/>
    </resultMap>
    <resultMap id="deliveryrecordsMap" type="com.nado.rlzy.db.pojo.HrSignupDeliveryrecord">
        <result column="job_status" property="jobStatus" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="label" type="com.nado.rlzy.db.pojo.HrLabel">
        <result column="groupId" property="groupid"/>
        <result column="name" property="name"/>
    </resultMap>


    <!--   <resultMap id="rebaterecord" type="com.nado.rlzy.db.pojo.HrBriefchapter">
            <result column="Id" property="brId" jdbcType="INTEGER"/>


        </resultMap>-->
    <select id="coHomePage" resultMap="BaseResultMap">
        select grr.GroupName as certifier,
        grr.GroupAddress,
        grr.GroupInfo,
        grr.Id
        from hr_group grr
        <where>
            grr.groupStatus = 0
            <if test="null != groupId">
                and grr.Id = #{groupId}
            </if>
        </where>
    </select>
    <select id="selectGroupName" resultType="hrGroup">
        select grr.Id, grr.GroupName
        from hr_group grr
        left join hr_briefchapter br on br.RecruitedCompanyId = grr.Id and br.briefChapterStatus = 0
        left join hr_group gr on br.userId = gr.CertifierId and gr.groupStatus = 0
        left join hr_user u on gr.CertifierId = u.Id and u.status = 0
        where grr.groupStatus = 0
        <if test="null != type">
            and u.type = #{type}
        </if>
        and grr.pid = gr.Id
        <if test="null != userId">
            and u.id = #{userId}
        </if>
    </select>
    <select id="queryAgentEnterprisePid" resultMap="BaseResultMap">
        select g.Id
        from hr_group g
        left join hr_user u on g.CertifierId = u.Id and u.status = 0
        where g.groupStatus = 0
        <if test="null != userId">
            and u.id = #{userId}
        </if>
        and g.type = 0
    </select>

    <select id="queryPersonCo" resultMap="BaseResultMap">
        select gr.GroupName,
        gr.GroupAddress,
        gr.person_num,
        gr.Status,
        gr.BusinessLicense,
        gr.Id,
        la.name
        from hr_group gr left join hr_user u on gr.CertifierId = u.Id and u.status = 0
        left join hr_label la on gr.Id = la.groupId and la.status = 1
        where gr.groupStatus = 0
        <if test="null != userId">
            and u.Id = #{userId}
        </if>

    </select>
    <select id="queryTheAuditFailed" resultMap="BaseResultMap">
        select g.remark
        from hr_group g where DeleteFlag = 0 and Status = 3
        <if test="null != groupId">
            and Id = #{groupId}
        </if>
    </select>
    <select id="selectGroupNameRecruitment" resultType="hrGroup">
        select grr.GroupName, grr.Id
        from hr_group grr
        left join hr_briefchapter br on br.RecruitedCompanyId = grr.Id and br.briefChapterStatus = 0
        left join hr_user u on grr.CertifierId = u.Id and u.status = 0
        where grr.groupStatus = 0
        and grr.type = 1
        <if test="null != type">
            and u.type = #{type}
        </if>
        <if test="null != userId">
            and u.id = #{userId}
        </if>
    </select>
    <select id="coHomePageUpward" resultMap="BaseResultMap">
        select grr.GroupName,
        grr.Id,
        hl.name, lu.url
        from hr_group grr
        left join hr_label hl on grr.Id = hl.groupId and hl.status = 1
        left join hr_lunbo lu on grr.Id = lu.groupId and lu.status = 1
        <where>
            grr.groupStatus = 0
            <if test="null != groupId">
                and grr.Id = #{groupId}
            </if>
        </where>
    </select>
    <select id="subAccountCompany" resultMap="BaseResultMap">
        select gr.GroupName,
        gr.GroupAddress,
        gr.person_num,
        gr.Status,
        gr.BusinessLicense,
        gr.Id,
        la.name from hr_group gr left join hr_user u on gr.id = u.groupId and u.status = 0
        left join hr_label la on gr.id = la.groupId and la.status = 1
        where gr.groupStatus = 0
        <if test="null != userId">
            and u.id = #{userId}
        </if>

    </select>


</mapper>