<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.HrRebaterecordMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrRebaterecord">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="BriefChapterId" property="briefchapterId" jdbcType="INTEGER"/>
        <result column="RebateType" property="rebateType" jdbcType="TINYINT"/>
        <result column="RebateTime" property="rebateTime" jdbcType="VARCHAR"/>
        <result column="RebateMale" property="rebateMale" jdbcType="DECIMAL"/>
        <result column="RebateFemale" property="rebateFemale" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="DeleteFlag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="rebate_variable" property="rebateVariable" jdbcType="DECIMAL"/>
        <result column="signup_deliveryrecord_id" property="signupDeliveryrecordId" jdbcType="DECIMAL"/>
        <result column="rebateHour" property="rebateHour" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="businessUserId" property="businessUserId" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="brId" property="brId" jdbcType="INTEGER"/>
        <result column="registerTime" property="registerTime" jdbcType="DATE"/>
        <result column="hsdId" property="hsdId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        Id, BriefChapterId, RebateType, RebateTime, RebateMale, RebateFemale, status, DeleteFlag,
        CreateTime, rebate_variable
    </sql>
    <select id="selectByPrimaryK" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hr_rebaterecord
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <select id="manOrWomenRebate" resultMap="BaseResultMap">
        select sum(RebateMale) as RebateMale, sum(RebateFemale) as RebateFemale from hr_rebaterecord
        <where>
            DeleteFlag = 0
            <if test="null != briefchapter">
                and BriefChapterId = #{briefchapter}
            </if>
            group by BriefChapterId
        </where>
    </select>
    <select id="selectReId" resultType="_int" parameterType="hrRebaterecord">
        select Id
        from hr_rebaterecord re
        <where>
            <if test="null != briefchapterId">
                BriefChapterId = #{briefchapterId}
            </if>
            <if test="null != rebateType">
                and RebateType = #{rebateType}
            </if>
            and DeleteFlag = 0
        </where>
    </select>


    <insert id="insertSelective">
        insert into hr_rebaterecord (BriefChapterId, RebateType, RebateMale, RebateFemale, RebateTime, CreateTime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.briefcharpterId},#{item.rebateType}, #{item.rebateMale}, #{item.rebateFemale}, #{item.rebateTime},
            #{item.createTime})
        </foreach>

    </insert>
    <update id="updateByPrimaryKeySelecti" parameterType="com.nado.rlzy.db.pojo.HrRebaterecord">
        update hr_rebaterecord
        <set>
            <if test="briefchapterid != null">
                BriefChapterId = #{briefchapterid,jdbcType=INTEGER},
            </if>
            <if test="rebatetype != null">
                RebateType = #{rebatetype,jdbcType=TINYINT},
            </if>
            <if test="rebatetime != null">
                RebateTime = #{rebatetime,jdbcType=VARCHAR},
            </if>
            <if test="rebatemale != null">
                RebateMale = #{rebatemale,jdbcType=DECIMAL},
            </if>
            <if test="rebatefemale != null">
                RebateFemale = #{rebatefemale,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deleteflag != null">
                DeleteFlag = #{deleteflag,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                CreateTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="null != signUpId">
                sign_up_id = #{signUpId},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateRebateMoney">
        update hr_rebaterecord

        <set>
            <if test="null != rebateVariable">
                rebate_variable = #{rebateVariable}
            </if>

        </set>
        where DeleteFlag = 0
        <if test="null != briefchapter">
            and BriefChapterId = #{briefchapter}
        </if>
        <if test="null != rebateType">
            and RebateType = #{rebateType}
        </if>
    </update>
    <update id="updateRebateManAndWomen">
        update hr_rebaterecord
        <set>
            <if test="null != manMoney">
                RebateMale = #{manMoney},
            </if>
            <if test="null != womenMoney">
                RebateFemale = #{womenMoney}
            </if>
            <where>
                DeleteFlag = 0
                <if test="null != type">
                    and RebateType = #{type}
                </if>
                <if test="null != briefchapter">
                    and BriefChapterId = #{briefchapter}
                </if>
            </where>

        </set>


    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update hr_rebaterecord
            <set>
                RebateMale = #{item.rebateMale} ,
                RebateFemale = #{item.rebateFemale},
                RebateTime = #{item.rebateTime}
            </set>
            <where>
                BriefChapterId = #{item.briefchapterId} and RebateType = #{item.rebateType}
            </where>
        </foreach>

    </update>
    <update id="updateRebateStatus" parameterType="hrRebaterecord">
        update hr_rebaterecord
        <set>
            status = 1,
            <if test="null != rebateTime">
                RebateTime = #{rebateTime}
            </if>
            where
            <if test="null != id">
                Id = #{id}
            </if>
            and DeleteFlag = 0
        </set>

    </update>

    <select id="selectRebateTime" resultMap="BaseResultMap">
                select ifnull(TIMESTAMPDIFF(HOUR, NOW(), RebateTime), 0) as rebateHour,
       re.Id,
       u.Id                                   as userId,
       br.userId                              as businessUserId,
       si.sex,
       re.RebateMale,
       re.RebateFemale,
       br.Id as brId
        from hr_rebaterecord re,
             hr_signup_deliveryrecord hsd,
             hr_signup si,
             hr_briefchapter br,
             hr_user u
        where hsd.id = re.signup_deliveryrecord_id
          and hsd.delete_flag = 0
          and hsd.signup_id = si.id
          and si.delete_flag = 0
          and hsd.brief_chapter_id = br.Id
          and br.briefChapterStatus = 0
          and si.user_id = u.Id
          and re.DeleteFlag = 0
          and re.RebateType = 2
          and u.status = 0
    </select>


    <insert id="insertListt">
        insert into hr_rebaterecord (BriefChapterId, RebateType, RebateMale, RebateFemale, RebateTime, CreateTime,
        sign_up_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.briefchapterId},#{item.rebateType}, #{item.rebateMale}, #{item.rebateFemale}, #{item.rebateTime},
            #{item.createTime}, #{item.signUpId})
        </foreach>
    </insert>

    <select id="rebate" resultMap="BaseResultMap">
        select re.status,
        re.RebateFemale,
        re.RebateMale,
        re.RebateTime,
        re.RebateType,
        re.status,
        re.id,
        re.signup_deliveryrecord_id,
        hsd.id as hsdId
        from hr_rebaterecord re
        left join hr_signup_deliveryrecord hsd on re.signup_deliveryrecord_id = hsd.id and hsd.delete_flag = 0
        left join hr_briefchapter br on re.BriefChapterId = hsd.brief_chapter_id and br.briefChapterStatus = 0
        left join hr_signup si on si.id = hsd.signup_id and si.delete_flag = 0
        where re.DeleteFlag = 0
        <if test="null != signUpId">
            and si.id = #{signUpId}
        </if>
        <if test="null != briefchapterId">
            and br.Id = #{briefchapterId}
        </if>
        order by re.CreateTime asc
    </select>

    <update id="rebateOne">
        update hr_rebaterecord
        <set>
            status = 1,
            <if test="null != signupDeliveryrecordId">
                signup_deliveryrecord_id = #{signupDeliveryrecordId}
            </if>
            <where>
                DeleteFlag = 0
                <if test="null != rebateId">
                    and Id = #{rebateId}
                </if>
            </where>
        </set>
    </update>

    <select id="signUpIdByReport" resultMap="BaseResultMap">
        select re.Id,
           u.Id      as userId,
           br.userId as businessUserId,
           si.sex,
           re.RebateMale,
           re.RebateFemale,
           br.Id     as brId,
           br.registerTime,
           re.signup_deliveryrecord_id,
           hsd.id as hsdId
    from hr_signup_deliveryrecord hsd,
         hr_rebaterecord re,
         hr_signup si,
         hr_briefchapter br,
         hr_user u
    where hsd.id = re.signup_deliveryrecord_id
      and hsd.delete_flag = 0
      and hsd.signup_id = si.id
      and si.delete_flag = 0
      and hsd.brief_chapter_id = br.Id
      and br.briefChapterStatus = 0
      and si.user_id = u.Id
      and re.DeleteFlag = 0
      and re.RebateType = 2
      and u.status = 0
      and hsd.status = 2

    </select>


</mapper>