<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.HrSignUpMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrSignUp">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="signId" property="signId" jdbcType="INTEGER"/>
        <id column="hsdId" property="hsdId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="brief_chapter_id" property="briefChapterId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="user_name" property="signUpName" jdbcType="VARCHAR"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="sexString" property="sexString" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="graduation_time" property="graduationTime" jdbcType="DATE"/>
        <result column="profession" property="profession" jdbcType="VARCHAR"/>
        <result column="arrival_time" property="arrivalTime" jdbcType="DATE"/>
        <result column="expected_salary_upper" property="expectedSalaryUpper" jdbcType="DECIMAL"/>
        <result column="expected_salary_lower" property="expectedSalaryLower" jdbcType="DECIMAL"/>
        <result column="recommendName" property="recommendName" jdbcType="VARCHAR"/>
        <result column="commendName" property="commendName" jdbcType="VARCHAR"/>
        <result column="enter_time" property="enterTime" jdbcType="TIMESTAMP"/>
        <result column="job_status" property="jobStatus" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="no_pass_reason" property="noPassReason" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="registration_position_id" property="registrationPositionId" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="relation" property="relation" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="Name" property="postName" jdbcType="VARCHAR"/>
        <result column="signId" property="signId" jdbcType="INTEGER"/>
        <result column="it_is_public" property="itIsPublic" jdbcType="INTEGER"/>
        <result column="itPublicString" property="itPublicString" jdbcType="VARCHAR"/>
        <result column="agree_platform_help" property="agreePlatformHelp" jdbcType="INTEGER"/>
        <result column="agreePlatformHelpString" property="agreePlatformHelpString" jdbcType="VARCHAR"/>
        <result column="HeadImage" property="headImage" jdbcType="VARCHAR"/>
        <result column="RecommendNo" property="recommendNo" jdbcType="VARCHAR"/>
        <result column="RecommendInfo" property="recommendInfo" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="DECIMAL"/>
        <result column="postId" property="postId" jdbcType="VARCHAR"/>
        <result column="postName" property="postName" jdbcType="VARCHAR"/>
        <result column="PostIdStr" property="postIdStr" jdbcType="VARCHAR"/>
        <result column="interviewTime" property="interviewTime" jdbcType="DATE"/>
        <result column="registerTime" property="registerTime" jdbcType="DATE"/>
        <result column="noSingUp" property="noSingUp" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <collection property="rebat" resultMap="rebaterecord" ofType="com.nado.rlzy.db.pojo.HrRebaterecord"/>
        <collection property="chapter" resultMap="chapterMap" ofType="com.nado.rlzy.db.pojo.HrBriefchapter"/>
        <collection property="deliveryrecord" resultMap="deliveryrecord"
                    ofType="com.nado.rlzy.db.pojo.HrSignupDeliveryrecord"/>
    </resultMap>

    <resultMap id="deliveryrecord" type="com.nado.rlzy.db.pojo.HrSignupDeliveryrecord">
        <result column="job_status" property="jobStatus" jdbcType="INTEGER"/>
        <result column="brief_chapter_id" property="briefChapterId" jdbcType="INTEGER"/>
        <result column="no_pass_reason" property="noPassReason" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>

    </resultMap>
    <resultMap id="rebaterecord" type="com.nado.rlzy.db.pojo.HrRebaterecord">
        <result column="rebateOne" property="rebateOne" jdbcType="TIMESTAMP"/>
        <result column="RebateType" property="rebateType" jdbcType="INTEGER"/>
        <result column="RebateTime" property="rebateTime" jdbcType="DATE"/>
        <result column="RebateMale" property="rebateMale" jdbcType="DECIMAL"/>
        <result column="RebateFemale" property="rebateFemale" jdbcType="DECIMAL"/>
        <result column="BriefChapterId" property="briefchapterId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="CreateTime" property="createTime" jdbcType="DATE"/>
        <result column="rebateId" property="id" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="chapterMap" type="com.nado.rlzy.db.pojo.HrBriefchapter">
        <result column="brief_chapter_id" property="id" jdbcType="INTEGER"/>

    </resultMap>

    <update id="invitationToRegister">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 5
            <where>
                si.delete_flag = 0
                and si.id = sd.signup_id
                and sd.delete_flag = 0
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="notSuitable">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 4,
            sd.job_status = 1,
            sd.no_pass_reason = 0
            <where>
                si.delete_flag = 0
                and sd.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="invitationInterview">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 1
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>

    <!--<update id="updateJobStatusByTask">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 10
            <where>
                si.delete_flag = 0
                and sd.delete_flag = 0``
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id in
                    <foreach collection="id" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
        </set>
    </update>-->

    <update id="updateJobStatusInterviewed">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 8
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>

    </update>
    <update id="updateJobStatus">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 10
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="updateJobStatusConfirmationReport">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 11
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="updateJobStatusConfirmationReportByTask">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 3
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id in
                    <foreach collection="list" item="item" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
        </set>
    </update>
    <update id="updateJobStatusReport">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.no_pass_reason = 2,
            sd.status = 4
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="waitingForCommissionToBecomeARebate">
        update hr_rebaterecord
        <set>
            status = 1
            <where>
                DeleteFlag = 0 and status = 0
            </where>
        </set>
    </update>
    <update id="reportNotSuitable">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 4,
            sd.no_pass_reason = 0
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>


            </where>
        </set>
    </update>
    <update id="recruitmentDetailsInvitationInterview">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 1,
            sd.job_status = 2
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>
            </where>
        </set>
    </update>
    <update id="recruitmentDetailsDirectAdmission">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 2
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>
            </where>
        </set>
    </update>
    <update id="recruitmentInterviewd">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 10
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>
            </where>
        </set>
    </update>
    <update id="recruitmentNoInterviewd">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 8,
            sd.job_status = 3,
            sd.no_pass_reason = 1
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>

            </where>
        </set>
    </update>
    <update id="noReportedReason">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            <if test="null != reason">
                sd.no_report_reason = #{reason}

            </if>
            <where>
                sd.delete_flag = 0
                and si.delete_flag = 0
                and si.id = sd.signup_id
                <if test="null != signUpId">
                    and si.id = #{signUpId}
                </if>
                <if test="null != briefChapterId">
                    and sd.brief_chapter_id = #{briefChapterId}
                </if>
            </where>
        </set>
    </update>

    <update id="confirmRegistration">
        update hr_signup_deliveryrecord sd, hr_signup si
        <set>
            sd.status = 0
        </set>
        <where>
            sd.delete_flag = 0
            and si.delete_flag = 0
            and si.id = sd.signup_id
            <if test="null != briefChapterId">
                and sd.brief_chapter_id = #{briefChapterId}
            </if>
            and si.id in
            <foreach collection="id" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="rebateAdd" parameterType="com.nado.rlzy.bean.query.RebateQuery">
        update hr_acct
        <set>
            AcctBalance = (AcctBalance + #{addMoney} )
            <where>
                DeleteFlag = 0
                <if test="null != userId">
                    and UserId = #{userId}
                </if>
                <if test="null != signUpId">
                    and sign_up_id = #{signUpId}
                </if>
            </where>
        </set>
    </update>
    <update id="rebateSubtraction" parameterType="com.nado.rlzy.bean.query.RebateQuery">
        update hr_acct
        <set>
            IceBalance = (IceBalance - #{subtraction})
            <where>
                DeleteFlag = 0
                <if test="null != userId">
                    and UserId = #{userId}
                </if>
                <if test="null!= signUpId">
                    and sign_up_id = #{signUpId}
                </if>

            </where>

        </set>
    </update>
    <update id="commissionRebate">
        update hr_rebaterecord re , hr_signup_deliveryrecord hsd
        set re.status = 3
        where re.status = 4
        and hsd.no_pass_reason = 4
        <if test="null != hsdId">
            and hsd.id = #{hsdId}
        </if>
    </update>


    <select id="selectJobListOverview" resultMap="BaseResultMap"
            parameterType="com.nado.rlzy.bean.query.JobListQuery">

        select s.user_name,
        s.id as signId,
        s.age as age,
        u.UserName as commendName,
        u.type,
        sd.status,
        s.arrival_time,
        ifnull(sd.signup_id, '0') as noSingUp,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.relation)
        and d.pId = 4) as relation,
        u.Id as user_id,
        s.sex
        FROM hr_signup s left join hr_user u on s.user_id = u.Id and u.status = 0
        left join hr_signup_deliveryrecord sd on s.id = sd.signup_id and sd.delete_flag = 0
        left join hr_briefchapter b on sd.brief_chapter_id = b.Id and b.Status and b.briefChapterStatus = 0
        <if test="null != id">
            and si.id = #{id}
        </if>
        <if test="null != sex">
            and s.sex = #{sex}
        </if>
        <if test="null != education1">
            and s.education in
            <foreach collection="education1" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>

        </if>
        <if test="null != profession1">
            and s.profession in
            <foreach collection="profession1" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="null != age and '' != age">
            and s.age = #{age}
        </if>

        <if test="null != arrivalTime">
            and s.arrival_time between now() and adddate(now(), interval #{arrivalTime} day)
        </if>
        <if test="null != graduationTime">
            and YEAR(graduation_time) = YEAR(DATE_SUB(NOW(), INTERVAL #{graduationTime} YEAR))
        </if>

        <if test="null != graduationTime and graduationTime == 3">
            and YEAR(graduation_time) &lt;= YEAR(DATE_SUB(NOW(), INTERVAL #{graduationTime} YEAR))
        </if>
        <if test="null != relation">
            and s.relation = #{relation}
        </if>


    </select>
    <select id="selectJobList" resultType="com.nado.rlzy.bean.dto.JobListDto"
            parameterType="com.nado.rlzy.bean.query.JobListQuery">
        select s.user_name as userName,
        s.id as signUpId,
        s.user_id as userId,
        s.sex as sex,
        s.id_card as cardId,
        s.education as education,
        s.arrival_time as arrivalTime,
        s.graduation_time as graduationTime,
        s.expected_salary as expectedSalary,
        sd.status as jobStatus,
        ifnull(sd.signup_id, 0) as noSignUp,
        s.relation as relation,
        sd.brief_chapter_id as briefChapterId,
        b.Id as briefChapterId,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, b.PostId)
        and d.pId = 1) as postName
        FROM hr_signup s
        LEFT JOIN hr_signup_deliveryrecord sd
        ON s.id = sd.signup_id and sd.delete_flag = 0
        LEFT JOIN hr_briefchapter b
        ON b.briefChapterStatus = 0 and b.Status = 1
        where s.delete_flag = 0
        <if test="null != id">
            and s.id = #{id}
        </if>
        group by s.user_name


    </select>
    <select id="selectCollectListOverview" resultMap="BaseResultMap">
        select s.user_name,
        s.age,
        u.UserName as commendName,
        sd.status,
        s.arrival_time,
        s.id,
        IFNULL(sd.signup_id, '0') as noSignUp,
        u.type,
        s.relation,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.relation)
        and d.pId = 4) as relation
        from collect c
        left join hr_signup s on c.sign_up_id = s.id and s.delete_flag = 0
        left join hr_signup_deliveryrecord sd on s.id = sd.signup_id and sd.delete_flag = 0
        left join hr_user u on c.user_id = u.Id and u.status = 0
        left join hr_briefchapter b on c.briefchapter_id = b.Id and b.briefChapterStatus = 0 and b.Status = 1
        where
        <if test="null != userId">
            u.Id = #{userId}
        </if>
        and c.sign_up_id is not null order by c.create_time desc
    </select>
    <select id="selectSignUpTable" resultMap="BaseResultMap">
        select s.user_name,
        (case when s.sex = 0 then '女' when s.sex = 1 then '男' end) as sexString,
        s.id_card,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.education)
        and d.pId = 2) as education,
        s.graduation_time,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.profession)
        and d.pId = 3) as profession,
        s.arrival_time,
        s.expected_salary_upper,
        s.expected_salary_lower,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.relation)
        and d.pId = 4) as relation,
        (case when s.it_is_public = 0 then '公开' when s.it_is_public = 1 then '不公开' end) as itPublicString,
        (case
        when s.agree_platform_help = 0 then '同意'
        when s.agree_platform_help = 1
        then '不同意' end) as agreePlatformHelpString,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.registration_position_id)
        and d.pId = 1) as postName
        from hr_signup s
        where s.delete_flag = 0
        <if test="null != signId">
            and s.id = #{signId}
        </if>

    </select>
    <select id="selectSignUp" resultMap="BaseResultMap">
        select s.user_name, s.user_id, msut.sign_id as signId from my_sign_up_table msut
        left join hr_signup s on msut.sign_id = s.id
        <where>
            <if test="null != userId">
                s.user_id = #{userId}
            </if>
        </where>
    </select>


    <select id="searchSignUpUserName" resultMap="BaseResultMap">
        select si.user_name,
        u.UserName as userName,
        si.id
        from hr_signup si
        left join hr_signup_deliveryrecord sd on si.id = sd.signup_id and sd.delete_flag = 0
        left join hr_user u on si.user_id = u.Id and u.status = 0
        left join hr_briefchapter br on br.id = sd.brief_chapter_id and br.briefChapterStatus = 0 and br.Status = 1
        <where>
            si.delete_flag = 0
            <if test="null != briefChapterId">
                and br.Id = #{briefChapterId}
            </if>
            <if test="null != userId">
                and u.id = #{userId}
            </if>
        </where>

    </select>
    <select id="querySignUpUserName" resultMap="BaseResultMap">
        select distinct s.user_name, s.sex, s.id
        from hr_signup s
        left join hr_user u on s.user_id = u.Id and u.status = 0
        <where>
            s.delete_flag = 0
            <if test="null != type">
                and u.type = #{type}

            </if>
            <if test="null != userId">
                and u.Id = #{userId}
            </if>
        </where>
    </select>
    <select id="querySignUpStatus" resultMap="BaseResultMap">
        select sd.status,
        sd.brief_chapter_id,
        si.user_name,
        sd.signup_id,
        si.id
        from hr_signup si
        inner join hr_signup_deliveryrecord sd on si.id = sd.signup_id and sd.delete_flag = 0
        inner join hr_user u on si.user_id = u.id and u.status = 0
        <where>
            si.delete_flag = 0
            <if test="null != id">
                and si.id = #{id}
            </if>
        </where>
    </select>
    <select id="countSignUpNum" resultMap="BaseResultMap">
        select hsd.brief_chapter_id, si.id
        from hr_signup_deliveryrecord hsd
        left join hr_signup si on hsd.signup_id = si.id and hsd.delete_flag = 0
        left join hr_briefchapter br on hsd.brief_chapter_id = br.Id and br.briefChapterStatus = 0 and br.Status = 1
        where hsd.delete_flag = 0
        <if test="null != briefchapter">
            and br.Id = #{briefchapter}
        </if>
        group by si.id
    </select>
    <select id="SearchdirectAdmission" resultMap="BaseResultMap">
        select
        <if test="sex == 1">
            re.RebateMale as value,
        </if>
        <if test="sex == 0">
            re.RebateFemale as value,
        </if>
        br.interviewTime
        from hr_signup si
        left join hr_signup_deliveryrecord sd on si.id = sd.signup_id and sd.delete_flag = 0
        <if test="null != briefchapter">
            and sd.brief_chapter_id = #{briefchapter}
        </if>
        left join hr_rebaterecord re on sd.brief_chapter_id = re.BriefChapterId and re.DeleteFlag = 0
        left join hr_briefchapter br on sd.brief_chapter_id = br.Id and br.briefChapterStatus = 0 and br.Status = 1
        <where>
            si.delete_flag = 0
            <if test="null != signUpId">
                and si.id = #{signUpId}
            </if>
            and re.RebateType = 0;
        </where>

    </select>
    <select id="recruitmentDetailsOverview" resultMap="BaseResultMap">
        select s.user_name,
        s.age,
        s.arrival_time,
        u.UserName as userName,
        b.interviewTime as interviewTime,
        b.registerTime as registerTime,
        r.RebateTime,
        r.status,
        sd.no_pass_reason,
        s.id as signId,
        sd.status,
        sd.id as hsdId,
        u.type,
        (SELECT GROUP_CONCAT(d.name)
        FROM hr_dictionary_item d
        WHERE FIND_IN_SET(d.value, s.relation)
        and d.pId = 4) as relation
        from hr_signup s
        left join hr_signup_deliveryrecord sd on s.id = sd.signup_id and sd.delete_flag = 0
        left join hr_user u on s.user_id = u.Id and u.status = 0
        left join hr_briefchapter b on sd.brief_chapter_id = b.Id and b.briefChapterStatus = 0 and b.Status = 1
        left join hr_rebaterecord r on sd.brief_chapter_id = r.BriefChapterId and r.DeleteFlag = 0
        <where>
            s.delete_flag = 0
            and sd.status in
            <if test="null != list">
                <foreach collection="list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            order by r.CreateTime desc
        </where>
    </select>
    <select id="signUpId" resultMap="BaseResultMap">
        select si.id from hr_signup si
        left join hr_signup_deliveryrecord sd on si.id = sd.signup_id and sd.delete_flag = 0 and sd.status = 1
        <where>
            si.delete_flag = 0
        </where>
    </select>

    <select id="recruitmentInterviewOver" resultType="com.nado.rlzy.db.pojo.HrSignUp">
        select registerTime from hr_briefchapter where  briefChapterStatus = 0
    </select>


    <select id="grouper" resultMap="BaseResultMap">
        select si.user_name, si.id, mt.group_name
        from hr_signup si,
        my_sign_up_table mt,
        my_sign_up_table_sign_up msutsu,
        hr_user u
        <where>
            si.id = msutsu.sign_up_id
            and msutsu.delete_flag = 0
            and mt.id = msutsu.my_sign_up_table_id
            and mt.delete_flag = 0
            and si.delete_flag = 0
            <if test="null != signUpName">
                and si.user_name like concat('%', #{signUpName}, '%')
            </if>
            <if test="null != userId">
                and u.Id = #{userId}
            </if>
            <if test="null != groupName">
                and mt.group_name like concat('%', #{groupName}, '%')
            </if>
            and u.id = si.user_id and u.status = 0
        </where>


    </select>
    <select id="selectSignUpTableBySignUpName" resultMap="BaseResultMap">
        select si.user_name, si.id, mt.group_name
        from hr_signup si,
        my_sign_up_table mt,
        my_sign_up_table_sign_up msutsu,
        hr_user u
        where si.id = msutsu.sign_up_id
        and msutsu.delete_flag = 0
        and mt.id = msutsu.my_sign_up_table_id
        and mt.delete_flag = 0
        and si.delete_flag = 0
        <if test="null != signUpName">
            and si.user_name like concat('%', #{signUpName}, '%')
        </if>
        <if test="null != userId">
            and u.Id = #{userId}
        </if>
        and u.Id = si.user_id and u.status = 0
    </select>
    <select id="queryComplaintPerson" resultType="com.nado.rlzy.bean.dto.ComplaintPage">
        select si.user_name as signName,
        si.id
        from hr_signup si
        left join hr_signup_deliveryrecord sd on si.id = sd.signup_id and sd.delete_flag = 0
        left join hr_user u on si.user_id = u.Id and u.status = 0
        left join hr_briefchapter br on br.id = sd.brief_chapter_id and br.briefChapterStatus = 0 and br.Status = 1
        where si.delete_flag = 0
        <if test="null != brieId">
            and br.id = #{brieId}
        </if>
        <if test="null != typeId">
            and u.type = #{typeId}
        </if>
        <if test="null != userId">
            and u.id = #{userId}
        </if>
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        select
        si.age,
        si.arrival_time,
        si.graduation_time,
        si.expected_salary_lower,
        si.expected_salary_upper,
        si.education,
        u.PostIdStr,
        si.registration_position_id
        from hr_signup si
        left join hr_user u on si.user_id = u.Id and u.status = 0
        where si.delete_flag = 0 and
        <if test="null != userId">
            si.user_id = #{userId}
        </if>

    </select>
    <select id="threeNoInterview" resultMap="BaseResultMap">
        select hsd.status, hsd.no_pass_reason
        from hr_signup si
        left join hr_signup_deliveryrecord hsd on si.id = hsd.signup_id and hsd.delete_flag = 0
        where si.delete_flag = 0
        and hsd.status = 4
        and hsd.no_pass_reason = 1
        <if test="null != signId">
            and si.id = #{signId}
        </if>
        order by hsd.create_time desc
        limit 0, 3
    </select>
    <select id="briefchaterSignUpNo" resultType="_int">
        select count(sd.status)
        from hr_briefchapter br
        left join hr_signup_deliveryrecord sd on br.Id = sd.brief_chapter_id and sd.delete_flag = 0
        left join hr_signup si on si.id = sd.signup_id and sd.delete_flag = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and sd.status = 0
    </select>
    <select id="briefchapterInterviewNo" resultType="_int">
        select count(si.id)
        from hr_briefchapter br
        left join hr_signup_deliveryrecord sd on br.Id = sd.brief_chapter_id and sd.delete_flag = 0
        left join hr_signup si on si.id = sd.signup_id and sd.delete_flag = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and sd.status = 10
    </select>
    <select id="briefchapterReportNo" resultType="_int">
        select count(si.id)
        from hr_briefchapter br

        left join hr_signup_deliveryrecord sd on br.Id = sd.brief_chapter_id and sd.delete_flag = 0
        left join hr_signup si on si.id = sd.signup_id and sd.delete_flag = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and sd.status = 3;
    </select>
    <select id="rebateInterview" resultType="_int">
        select count(si.id)
        from hr_briefchapter br
        left join hr_signup_deliveryrecord hsd on br.id = hsd.brief_chapter_id and hsd.delete_flag = 0
        left join hr_signup si
        on hsd.signup_id = si.id and si.delete_flag = 0
        left join hr_rebaterecord re on hsd.id = re.signup_deliveryrecord_id and re.DeleteFlag = 0 and re.RebateType = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        and hsd.status = 12
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and re.RebateType = 0
    </select>
    <select id="rebateReport" resultType="_int">
        select count(si.id)
        from hr_briefchapter br
        left join hr_rebaterecord re on re.DeleteFlag = 0
        left join hr_signup_deliveryrecord sd on br.Id = sd.brief_chapter_id and sd.delete_flag = 0
        left join hr_signup si on si.id = sd.signup_id and sd.delete_flag = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and sd.id = re.signup_deliveryrecord_id
        and sd.status = 12
        and re.RebateType = 1
    </select>
    <select id="rebateEntry" resultType="_int">
        select count(si.id)
        from hr_briefchapter br
        left join hr_rebaterecord re on re.DeleteFlag = 0
        left join hr_signup_deliveryrecord sd on br.Id = sd.brief_chapter_id and sd.delete_flag = 0
        left join hr_signup si on si.id = sd.signup_id and sd.delete_flag = 0
        where br.briefChapterStatus = 0
        and br.Status = 1
        <if test="null != briefchapterId">
            and br.id = #{briefchapterId}
        </if>
        and sd.id = re.signup_deliveryrecord_id
        and sd.status = 12
        and re.RebateType = 2
    </select>
    <select id="aaa" resultMap="BaseResultMap">
        select id from hr_signup where delete_flag = 0 and id in (#{id})
    </select>
    <select id="selectAllSignUpByRecommend" resultMap="BaseResultMap">
        select si.user_name, si.id
        from hr_user u
        left join hr_signup si on u.id = si.user_id and si.delete_flag = 0
        where u.status = 0
        <if test="null != userId">
            and u.id = #{userId}
        </if>


    </select>
    <select id="fullyDirectRecording" resultType="com.nado.rlzy.bean.dto.TaskHireWayDto">
            select br.registerTime, hsd.id as hsdId
    from hr_signup si
             left join hr_signup_deliveryrecord hsd on si.id = hsd.signup_id and hsd.delete_flag = 0
             left join hr_briefchapter br on hsd.brief_chapter_id = br.Id and br.briefChapterStatus = 0
    where si.delete_flag = 0
      and hsd.status = 0
    and br.hireWay = 0
    </select>
    <select id="notDirectlyRecorded" resultType="com.nado.rlzy.bean.dto.TaskHireWayDto">
            select br.registerTime, hsd.id as hsdId
    from hr_signup si
             left join hr_signup_deliveryrecord hsd on si.id = hsd.signup_id and hsd.delete_flag = 0
             left join hr_briefchapter br on hsd.brief_chapter_id = br.Id and br.briefChapterStatus = 0
    where si.delete_flag = 0
      and hsd.status = 0
    and br.hireWay = 2
    </select>
    <select id="canRecordDirectly" resultType="com.nado.rlzy.bean.dto.TaskHireWayDto">
    select br.interviewTime ,hsd.id as hsdId
    from hr_signup si
             left join hr_signup_deliveryrecord hsd on si.id = hsd.signup_id and hsd.delete_flag = 0
             left join hr_briefchapter br on hsd.brief_chapter_id = br.Id and br.briefChapterStatus = 0
    where si.delete_flag = 0
      and hsd.status = 0
    and br.hireWay = 1
    </select>
    <select id="threeNoReported" resultMap="BaseResultMap">
        select hsd.status, hsd.no_pass_reason
        from hr_signup si
        left join hr_signup_deliveryrecord hsd on si.id = hsd.signup_id and hsd.delete_flag = 0
        where si.delete_flag = 0
        and hsd.status = 4
        and hsd.no_pass_reason = 2
        <if test="null != signId">
            and si.id = #{signId}
        </if>
        order by hsd.create_time desc
        limit 0, 3
    </select>
    <select id="selectSexbySignUp" resultType="int">
        select sex from hr_signup where delete_flag = 0 and id = #{signId}
    </select>
</mapper>