<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nado.rlzy.db.mapper.HrSignupDeliveryrecordMapper">
    <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.HrSignupDeliveryrecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="signup_id" jdbcType="INTEGER" property="signupId"/>
        <result column="brief_chapter_id" jdbcType="INTEGER" property="briefChapterId"/>
        <result column="job_status" jdbcType="INTEGER" property="jobStatus"/>
        <result column="no_pass_reason" jdbcType="INTEGER" property="noPassReason"/>
        <result column="no_report_reason" jdbcType="INTEGER" property="noReportReason"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
    </resultMap>
    <insert id="referrerToSIgnUp">
        insert into hr_signup_deliveryrecord (signup_id, brief_chapter_id, job_status, create_time) values
    <foreach collection="entites" item="item" separator=",">
        (#{item.signupId}, #{item.briefChapterId}, #{item.jobStatus}, #{item.createTime})
    </foreach>
    </insert>
</mapper>