<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nado.rlzy.db.mapper.TestAccountMapper" >
  <resultMap id="BaseResultMap" type="com.nado.rlzy.db.pojo.TestAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, money
  </sql>
  <select id="selectById" resultMap="BaseResultMap"  >
    select 
    id, name, money
    from test_account
    where id = 1
  </select>


  <insert id="insertSelective" parameterType="com.nado.rlzy.db.pojo.TestAccount" >
    insert into test_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="money != null" >
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
  update test_account set money = money + 100 where id = 1
  </update>


</mapper>